# ========================
# DATASETS & OUTPUTS
# ========================
augmented_dataset/
dataset/
bulk_results/
test_outputs/
archive/

# ========================
# MODELS
# ========================
models/
*.h5
*.pkl
*.pt
*.pth
*.onnx

# ========================
# VIRTUAL ENVIRONMENTS
# ========================
venv/
env/
.env/
.venv/

# ========================
# PYTHON CACHE
# ========================
__pycache__/
*.py[cod]
*$py.class
.Python

# ========================
# LOGS
# ========================
*.log

# ========================
# JUPYTER
# ========================
.ipynb_checkpoints/

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db
*.zip 
plots/ 
